<div id="slides">
  <section class="s1">
    <p><mark>Click or press the right arrow key.</mark></p>
  </section>

  <section class="s2">
    <p><mark>Huge background images.</mark></p>
  </section>

  <section class="s3">
    <p>
      <mark>
        Filmo. Get it <a href="http://soveran.github.com/filmo">here</a>.
      </mark>
    </p>
  </section>
</div>
