<div id="slides">
  <section class="s1">
    <p><span>Click or press the right arrow key.</span></p>
  </section>

  <section class="s2">
    <p><span>Huge background images.</span></p>
  </section>

  <section class="s3">
    <p>
      <span>
        Filmo. Get it <a href="http://soveran.github.com/filmo">here</a>.
      </span>
    </p>
  </section>
</div>
