<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheets" type="text/css" href="public/styles.css" />
    <title>Filmo</title>
  </head>
  <body>
    <%= content %>
  </body>
</html>
