<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="public/styles.css" />
    <title>Filmo</title>
  </head>
  <body>
    <%= content %>
  </body>
  <script type="text/javascript" src="public/site.js"></script>
</html>
