html {
  height: 100%;
}

body {
  font-family: "Crete Round", "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  overflow: hidden;
}

div#slides {
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  page-break-after: always;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section p {
  margin: 0;
  padding: 40px;
  font-size: 50px;
}

section p span {
  font-weight: 500;
  padding: 8px 8px 4px 8px;
  color: black;
  background: yellow;
}

section p span a {
  color: #f00;
  text-decoration: none;
}

section.s1 { background-image: url("images/1.jpg"); }
section.s2 { background-image: url("images/2.jpg"); }
section.s3 { background-image: url("images/3.jpg"); }
